* {
	margin: 0;
	padding: 0;
}

/*Position.html CSS Start*/

/*Parent*/
.position {
    margin-top: 20px;
    border: 4px solid red;
    min-height: 400px;
    position: relative;
}
/*Child*/
.box {
	width: 100px;
	height: 100px;
	position: absolute;
}
.box1 {
	background-color: red;
	top: 0;
	left: 0;
}
/*.box2 {
    background-color: green;
    left: 0;
    right: 0;
    margin: 150px auto;
}*/
.box2 {
    background-color: green;
    left: 0;
    right: 0;
    margin: 150px auto;
    border: 7px solid red;
    width: 224px;
    height: 220px;
    border-radius: 50%;
}
.box3 {
    background-color: black;
    top: 0;
    right: 0;
}
.box4 {
	background-color: blue;
	right: 0;
	bottom: 0;
}
.box5 {
	background-color: aqua;
	left: 0;
	bottom: 0;
}
/*Position.html CSS End*/

.z-index {
	position: relative;
	margin-top: 20px;
	min-height: 400px;
	background: red;
}
.boxes {
	position: absolute;
	width: 450px;
	height: 300px;
}
.box6 {
	background: #fff;
	top: 50px;
	left: 470px;
	z-index: 2;
}
.box7 {
    background: blue;
    top: 30px;
    left: 450px;
	z-index: 1;
}
.box8 {
    background: red;
    top: 30px;
    left: 0px;
	z-index: 1;
}
.circle {
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
.circle1 {
	background: red;
	top: 100px;
	left: 600px;
	z-index: 4;
}
.circle2 {
	background: blue;
	top: 100px;
	left: 620px;
	z-index: 3;
}
p {
	margin-bottom: 8px;
	color: #fff;
}